.addNew {
  margin: var(--addNewMarginTopBottom) var(--addNewMarginLeftRight);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grow {
  flex: 1;
}

.hidden {
  display: none;
}

.iconWrapper {
  font-size: var(--iconWrapper);
}
