# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/log

# Ignore application configuration
/config/application.yml
.DS_Store

/doc
/coverage

docker-compose.override.yml
.slacker
.vscode

# Swagger UI (built by task)
/public/docs

#byebug
.byebug_history
seeded_access_tokens
storage/*

# Other things we ignore for now
config/secrets.yml.enc
config/secrets.yml.key
public/*
