# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/log

# Ignore application configuration
/config/application.yml
.DS_Store

/doc
/coverage

docker-compose.override.yml
.slacker
.vscode

# Swagger UI (built by task)
/public/docs
/public/index.html

#byebug
.byebug_history
seeded_access_tokens
storage/*

# Other things we ignore for now
config/secrets.yml.enc
config/secrets.yml.key
*node_modules*
npm-debug.log
.env
*__build__*
.babel-cache
stats.json
prod-stats.json
