<h1>You requested a password change, <%= @user.email %></h1>
<p>
  To change your password, click the following link: <a href="<%= @url %>"><%= @url %></a>.
</p>
<p>Thanks for joining and have a great day!</p>
