<h1>Welcome to PinkAirship.com, <%= @user.email %>!</h1>
<p>
  You have successfully signed up to PinkAirship.com,
  your username is: <%= @user.email %>.<br>
</p>
<p>
  To confirm registration, click the following link: <a href="<%= @url %>"><%= @url %></a>.
</p>
<p>Thanks for joining and have a great day!</p>
