<h1>Welcome to our application, <%= @user.email %></h1>
<p>
  You have successfully signed up to application,
  your username is: <%= @user.email %>.<br>
</p>
<p>
  To confirm email registration, click the following link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
