<%= form_tag('/logins/forgot_password', {:class => 'form-horizontal vert-center-form'}) do %>
  <h1>Welcome to SimpliShare</h1>
  <p>Enter the Identifier you wish to reset the password for below.</p>
  <div class="form-group">
    <div class="col-3">
      <label class="form-label" for="input-email">Identifier</label>
    </div>
    <div class="col-9">
      <input class="form-input" id="input-email" name="identifier" type="text" placeholder="Email or Username">
    </div>
  </div>
  <div class="container text-center">
    <button class="btn btn-lg">Reset</button>
  </div>
<% end %>
<div style="margin-top: 1.5rem">
  <a class="btn btn-lg" href="/auth/identity">Back to Login</a>
</div>
