<div class="form-horizontal vert-center-form">
  <h1>Confirmed!</h1>
  <p>
    Your confirmation of registration is now complete. Welcome to PinkAirship.com! You may now login to the system.
  </p>
  <div style="margin-top: 1.5rem">
    <a class="btn btn-lg" href="/auth/identity">Back to Login</a>
  </div>
</div>
