<div class="form-horizontal vert-center-form">
  <h1>Resent Confirmation</h1>
  <p>
    Please check your email for a link to confirm your password.
  </p>
  <div style="margin-top: 1.5rem">
    <a class="btn btn-lg" href="/auth/identity">Back to Login</a>
  </div>
</div>
