<div class="form-horizontal vert-center-form">
  <h1>Unlock Successful!</h1>
  <p>
    For security reasons we do not differentiate between an actual unlock and an attempt
    to unlock an account that doesn't exist. Please attempt to <a href="/auth/identity">login now.</a>
  </p>
  <div style="margin-top: 1.5rem">
    <a class="btn btn-lg" href="/auth/identity">Back to Login</a>
  </div>
</div>
