<h1><%= @user.email %> has <% if @restored %> archived <%else%> restored <%end%> and updated a <%= @type %></h1>
<p>
  For more information, visit the following link: <a href="<%= @url %>"><%= @url %></a>.
</p>
<p>Thanks for joining and have a great day!</p>
