<h1><%= @user.email %> has updated a <%= @type %></h1>
<p>
  To view this change, visit the following link: <a href="<%= @url %>"><%= @url %></a>.
</p>
<p>Thanks for joining and have a great day!</p>
