.header {
  border-bottom: var(--headerBorderBottom);
  box-sizing: border-box;
  background-color: var(--headerBackgroundColor);
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: padding 300ms ease;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: var(--listFontSize);
}

.hamburgerIcon {
  display: inline-block;
  padding: var(--hamburgerIconPaddingTopBottom) var(--hamburgerIconPaddingLeftRight);
}

.listItem {
  display: inline-block;
}

.logo {
  color: pink;
}
