<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Confirmed!</h1>
    <p>
      Your confirmation of registration is now complete. Welcome to Budgetr! You may now login to the system.
    </p>
  </body>
</html>
