<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Cannot Confirm Contact!</h1>
    <p>
      Your confirmation is not complete. Please visit <%= @url %> to register.
    </p>
  </body>
</html>
