.historyContainer {
  height: calc(100% - 27.25rem);
  margin-top: var(--historyContainerMarginTop);
}

.middleWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--middleWrapperMarginTop);
}

.selectWrapper {
  margin: 0 var(--selectWrapperMarginLeftRight);
}
