.historyContainer {
  height: calc(100vh - 11rem);
  margin-top: var(--historyContainerMarginTop);
}

.searchWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .historyContainer {
    height: 35vh;
    margin-top: var(--historyContainerMarginTop);
  }
}
